<div class="rounded-lg overflow-hidden shadow-lg flex flex-col bg-[#1F1F1F] select-none p-4 py-5">
  <h3 class="font-semibold text-lg"> Credits </h3>
  @for (artist of artists(); track artist.artistId) {
    <div class="flex gap-2 mt-3 items-center">
      <picture class="aspect-auto rounded-full w-11 h-11 overflow-hidden relative border-none">
        <img class="object-cover object-center w-full h-full rounded-t-lg border-none"
             [src]="artist?.smallImageUrl || ''"
             alt="artist img">
      </picture>
      <div>
        <h4 class="font-semibold"> {{ artist.name }}</h4>
        <p> {{ (artist.followers | number) + ' followers' }} </p>
      </div>

    </div>
  } @empty {
    <p> No artist available </p>
  }

</div>

