<div class="flex flex-row justify-between w-full px-2 z-50">
  <div class="w-[350px]">
    <app-current-track [track]="currentTrack()"/>
  </div>

  <div class="grid place-content-center gap-4 flex-1">
    <div class="flex justify-center">
      <button class="bg-white rounded-full p-2" (click)="onChangePlayerStatus()">
        <svg-icon [ngClass]="isPlaying()? 'inline' : 'hidden'" name="pause"/>
        <svg-icon [ngClass]="!isPlaying()? 'inline' : 'hidden'" name="play"/>
      </button>
    </div>
    <app-playback-control [audioPlayer]="audioElement()"/>
  </div>

  <div class="flex gap-4 justify-end items-center w-[350px]">
    <button disabled class="opacity-50">
      <svg-icon name="now-playing" />
    </button>
    <button disabled class="opacity-50">
      <svg-icon name="queue" />
    </button>
    <button disabled class="opacity-50">
      <svg-icon name="connect-device" />
    </button>
    <app-volume-control/>
    <button title="Full screen" class="opacity-70 hover:opacity-100">
      <svg-icon name="full-screen" />
    </button>
  </div>

  <audio #audioRef></audio>

</div>
