<nav class="bg-zinc-900 rounded-lg h-full flex-1 ">
  <div class="flex flex-col gap-2">
    <app-side-menu-item class="px-5" href="/">
      <svg-icon name="library"/>
      Your Library
    </app-side-menu-item>
    <ul id="library-result" class="max-h-[calc(100vh-255px)] overflow-y-auto px-2">
      @if (!isLoading()) {
        @for (playlist of playlists(); track playlist.id) {
          <app-side-menu-card [playlist]="playlist"/>
        } @empty {
          <p> No records available </p>
        }
      } @else {
        @for (item of [1,2,3,4,5,6,7,8]; track item) {
          <div role="status" class="animate-pulse flex p-2 gap-2 items-center">
            <div class="h-12 w-12 bg-[#121212] rounded-lg flex items-center justify-center">
              <svg class="w-5 h-5 text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                   viewBox="0 0 20 18">
                <path
                  d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"/>
              </svg>

            </div>
            <div>
              <div class="h-2.5 bg-zinc-800 rounded-full w-24 mb-3"></div>
              <div class="h-2 bg-zinc-800 rounded-full w-48 max-w-[480px]"></div>
            </div>
          </div>
        }
      }

    </ul>
  </div>
</nav>
