@if (isPlayingCurrentTrack()) {
  <td class="rounded-l-md w-10 text-center">
    <div class="flex w-full items-center justify-center">
      <img class="w-3.5" [src]="'assets/equaliser-animated.gif'" alt="equaliser animation">
    </div>
    <app-track-item-play-button [track]="track()" [isPlayingCurrentTrack]="isPlayingCurrentTrack()"/>
  </td>
} @else {
  <td class="px-3 py-2 rounded-l-md w-10 text-center">
      <span [ngClass]="isSelectedCurrentTrack() ? 'text-[#1ED760]': 'text-[#B3B3B3]'">
        {{ index() + 1 }}
      </span>
    <app-track-item-play-button [track]="track()" [isPlayingCurrentTrack]="isPlayingCurrentTrack()"/>
  </td>
}

<td class="px-3 py-2 flex gap-3">
  <picture class="">
    <img [src]="track().smallImageUrl" alt="track banner" class="min-w-10 max-w-10 rounded-md">
  </picture>
  <div class="flex flex-col">
    <h3 [ngClass]="isSelectedCurrentTrack() ? 'text-[#1ED760]': 'text-white'"
        class="line-clamp-1 text-md font-semibold">
      {{ track().name }}
    </h3>
    <span class="line-clamp-1 text-sm">{{ track().artistNames.join(', ') }}</span>
  </div>

</td>
<td class="px-3 py-2">
  <span class="line-clamp-1 text-sm">{{ track().name }}</span>
</td>
<td class="px-3 py-2 rounded-r-md text-right text-sm">{{ '29:56' }}</td>
