<a class="playlist-item flex relative p-2 overflow-hidden items-center gap-4 rounded-md hover:bg-zinc-800 "
   (click)="goToPlaylistView(playlist().id)">
  <picture class="h-12 w-12 flex-none">
    @if (playlist().images) {
      <img class="object-cover w-full h-full rounded-md"
           [src]="playlist().images[0].url"
           alt="playlist image">
    } @else {
      <div class="w-full h-full rounded-md bg-[#262626] flex items-center justify-center">
        <img [src]="'assets/icons/default-playlist-img.svg'"
             alt="playlist image">
      </div>
    }
  </picture>
  <div class="flex flex-auto flex-col truncate">
    <h4 class="text-[#FDFDFD]"> {{ playlist().name }} </h4>
    <span class="text-sm text-[#A4A4A4]">
      {{ playlist().owner.display_name }}
    </span>
  </div>

</a>
