<div class="flex items-center gap-2">
  <span class="w-12 text-right opacity-80 text-xs">{{ currentTime() | durationTime }}</span>
  <app-custom-range-slider [value]="currentTime()"
                           [min]="0"
                           [max]="audioPlayer()?.duration || 0"
                           [step]="0.0001"
                           [disabled]="!audioPlayer()?.duration"
                           (onMouseDown)="onMouseDown()"
                           (onMouseUp)="onMouseUp()"
                           [customClass]="'w-[400px]'"
                           (onInputChange)="onReproductionChange($event)">
  </app-custom-range-slider>
  <span class="w-12 text-xs opacity-80">{{ (audioPlayer()?.duration || 0) | durationTime }}</span>
</div>
