<div class="flex justify-between h-full items-center px-5">
  <a routerLink="/" class="flex gap-3">
    <svg-icon [name]="'logo'"/>
    <span class="text-2xl font-semibold"> Spoti App </span>
  </a>

  <div class="flex  items-center h-full gap-2">
    <a routerLink="/" role="button" title="Home"
       class="bg-[#1F1F1F] p-3 rounded-full text-zinc-400 transition-all duration-200 hover:text-white/90 h-[49px] hover:scale-[1.03]">
      <svg-icon [svgClass]="'w-full h-full'" name="home"/>
    </a>
    <div class="relative group">
      <div
        class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none transition-all duration-200 text-zinc-400 group-hover:text-white/90">
        <svg-icon name="search"/>
      </div>
      <input type="text" id="simple-search"
             class="bg-[#1F1F1F] focus:bg-[#2A2A2A] h-[49px] min-w-96 text-gray-300 rounded-full  outline-0
             focus:ring-white/90 focus:ring-2 border-none block text-md
             w-full pl-11 p-2.5"
             placeholder="What do you want to play?" required>
    </div>
  </div>

  <div class="flex items-center">
    <a href="https://github.com/jhoset/angular-spotify-clone" target="_blank" role="button" title="GitHub"
       class="bg-[#1F1F1F] p-3 rounded-full text-zinc-400 transition-all duration-200 hover:text-white/90 h-[49px] w-[49px]  hover:scale-[1.03]">
      <svg-icon [svgClass]="'w-full'" name="github"/>
    </a>
    <div class="w-0.5 h-[20px] bg-[#1F1F1F] mx-2"></div>
    <button class="group flex gap-3 items-center font-semibold text-md text-zinc-400 bg-[#1F1F1F] p-2 px-4 rounded-lg"
            (click)="onLogout()">
      <svg-icon class="group-hover:text-white/90 group-hover:scale-[1.03] transition-all duration-200"
                [svgClass]="'w-5'" name="logout"/>
      <span class="group-hover:text-white/90 transition-all duration-200">Logout</span>
    </button>

  </div>
</div>
