<table class="text-left w-full divide-y-[1px] divide-gray-500/50">
  <thead class="sticky top-0">
  <tr class="text-[#B3B3B3]">
    <th class="px-3 py-2 text-center text-md w-10 font-normal">#</th>
    <th class="px-3 py-2 font-medium text-sm">Title</th>
    <th class="px-3 py-2 font-medium text-sm">Album</th>
    <th class="px-3 py-2 flex items-center justify-end mr-3.5">
      <svg-icon [svgClass]="'w-4'" name="time"/>
    </th>
  </tr>
  </thead>

  <tbody class="block h-[calc(100vh-600px)] w-full">
  <tr class="h-[16px]"></tr>
    @for (track of tracks(); track track.trackId) {
      <tr class="animate-fade relative group hover:bg-[#2A2A2A] rounded-md text-[#B3B3B3] transition duration-200"
          appTrackListItem [index]="$index" [track]="track">
      </tr>
    } @empty {
      <p> No tracks available </p>
    }
  </tbody>
</table>
