<div id="dashboard" class="relative h-screen p-2 gap-2 flex">
  <header class="[grid-area:header] min-h-[72px]">
    HEADER
  </header>
  <aside class="[grid-area:aside-menu]">
    <app-aside-menu class="flex h-full"/>
  </aside>
  <main class="[grid-area:main] h-full rounded-lg overflow-y-auto  bg-[#121212]">
    <router-outlet></router-outlet>
  </main>
  <aside class="[grid-area:track-info] flex flex-col overflow-y-auto bg-[#121212]">
    TRACK-INFO
  </aside>
  <footer class="[grid-area:player] min-h-[72px]">
    <app-player />
  </footer>
</div>
